<mat-toolbar  id="mySidenav" class="sidenav"  color="primary">
    <span>My Angular Material App</span>
    <span class="fill-remaining-space"></span>
    <button mat-button routerLink="/pipe" class="">Pipe</button>
    <button mat-button routerLink="/cement">Cement</button>
    <button mat-button routerLink="/valve">Valve</button>
    <button mat-button routerLink="/paint">Paint</button>
    <button mat-button routerLink="/pump">Pump</button>
    <button mat-button routerLink="/sand">Sand</button>
    <button mat-button routerLink="/solar">Solar</button>
    <button mat-button routerLink="/steel">Steel</button>
    <button mat-button routerLink="/edit">EDIT</button>
</mat-toolbar>